<div class="toolbar w-full pa-6 border-b border-solid border-color-grey-l2 d-flex align-start justify-space-between">

    <div class="">
        <MudLink Class="mb-2 d-flex align-center" href="" Color="Color.Primary" Underline="Underline.None">
            <MudIcon Icon="@Icons.Filled.KeyboardArrowLeft" />
            Física 3º Primaria
        </MudLink>
        <MudText Typo="Typo.h1" Class="mud-palette-text-primary">Características de los seres vivos</MudText>
    </div>

    <div class="d-flex align-center">
        <div class="d-flex align-center mr-4">
            <MudIcon Class="mud-palette-text-secondary" Icon="@Icons.Outlined.CloudDone"></MudIcon>
            <MudText Class="mud-palette-text-secondary pl-2" Typo="Typo.body2">Todos los campos guardados</MudText>
        </div>
        <MudMenu Icon="@Icons.Material.Filled.MoreVert" Variant="Variant.Filled">
            <MudMenuItem>Item 1</MudMenuItem>
            <MudMenuItem>Item 2</MudMenuItem>
        </MudMenu>
    </div>

</div>
